# Default ignored files
/shelf/
/workspace.xml

# ---------------------------------------
# Python
# ---------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pys
*.pkl

# Кеші інструментів
.pytest_cache/
.mypy_cache/
cache/
*.pytest_cache/

# Віртуальне середовище
venv/
env/
.venv/

# Логи
*.log

# Файли налаштувань
*.env
.env.*
*.ini
*.cfg
*.toml

# ---------------------------------------
# PyCharm / JetBrains
# ---------------------------------------
.idea/
*.iml

# ---------------------------------------
# OS системні файли
# ---------------------------------------
.DS_Store
Thumbs.db

# ---------------------------------------
# Django (якщо є)
# ---------------------------------------
media/
staticfiles/
*.sqlite3

# Міграції (опційно, якщо не хочеш пушити)
# migrations/

# ---------------------------------------
# Jupyter notebook
# ---------------------------------------
.ipynb_checkpoints/

# ---------------------------------------
# Matplotlib cache
# ---------------------------------------
~/.cache/matplotlib

